<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Index Page</title>
    <link rel="stylesheet" type="text/css"  href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
        <div class="container text-center">
            <div style="margin-top:100px">
				<h1>Welcome to Index Page</h1>
			</div>
            <form method="POST" style="max-width: 300px; margin: 0 auto;">
    
                <div style="margin-top: 25px;">
                    <button type="button" class="btn btn-primary"><a href="/signup" style="color: white">Sign Up Page</a></button>
                </div>
    
                <div style="margin-top: 25px;">
                    <button type="button" class="btn btn-primary"><a href="/login" style="color: white">Login Page</a></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>